tr, td{
  border: 1px solid black;
  text-align: center;
}
#tab{
  width: 60%;
  margin: 50px auto;
}
thead{
  font-weight: bolder;
}

a{
  text-decoration: none;
}

img{
  width: 60px;
  height: 60px;
}

#order{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
h4{
  margin-left: 600px;
}

#list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 200px,200px;
  text-align: center;
  width: 90%;
  margin: 60px auto;
}

#product{
  width: 250px;
  height: 250px;
}
#price_rate{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}