tr, td{
  border: 1px solid black;
  text-align: center;
}
#tab{
  width: 60%;
  margin: 50px auto;
}
thead{
  font-weight: bolder;
}

a{
  text-decoration: none;
}

img{
  width: 60px;
  height: 60px;
}

#order{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
h4{
  margin-left: 600px;
}